h1{
    background-color: yellow;
    color: red;
    padding: 20px;
    border: 10px;
    border-style: solid;
    margin: 30px;
}
h2{
    color: darkblue;
}
p{
    color: cyan;
    background-color: blue;
    font-family: serif;
    margin: 20px;
    padding: 20px;
    border-style: dashed;
    border-color: brown;
    
}
img{
    width: 150px;
    height: 150px;
}